.tabulator-row .tabulator-cell{
    padding:10px 5px;
}

#timermind-table .tabulator-header .tabulator-col {
    background-color: rgb(196, 206, 184);
}
#newEvent {
    background-color: #dee6d6;
    color: darkslategray;
}

#myEvents {
    background-color: #dee6d6;
    color: darkslategray;
}